name: ci

on:
  pull_request:
    paths-ignore:
      - '*.md'

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v1
      - name: use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: npm i
      - name: build
        run: npm run nx -- affected:build
      - name: test
        run: npm run nx test sandbox -- --testNamePattern="-with-html-format$"
