name: release

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'

jobs:
  release:
    # This line is critical for copy paste issues
    if: github.repository == 'push-based/user-flow'
    timeout-minutes: 5
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup git user to "push-based.io - bot"
        shell: bash
        run: git config user.email "opensource@push-based.io" && git config user.name "push-based.io - bot"
      - name: use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
      - name: install
        run: npm ci
      - name: build
        run: npm run nx -- affected:build
      - name: test
        run: npm run nx -- affected:test
      - name: release CLI
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run nx -- run cli:version
      - name: release Nx plugin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run nx -- run nx-plugin:version
